body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;  /* Centra horizontalmente */
    align-items: center;       /* Centra verticalmente */
    height: 100vh;             /* Ocupa toda la altura de la pantalla */
}

.container {
    width: 80%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header {
    padding: 20px;
    background-color: #eef1f5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.logo {
    width: 50px;
}

.content-wrapper {
    display: flex;
    flex-direction: row; /* Muestra main y aside en una fila */
    width: 100%;
}

.main-content {
    padding: 20px;
    width: 70%; /* Ocupa el 70% del ancho */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

textarea {
    width: 100%;
    height: 300px;
    padding: 10px;
    border: 2px solid #d1d5db;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: #1f2937;
    color: white;
}

button#decrypt-btn {
    background-color: #9ca3af;
    color: #333;
}

.output-section {
    width: 30%; /* Ocupa el 30% del ancho */
    padding: 20px;
    background-color: #eef1f5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#output-message {
    font-size: 18px;
    color: #6b7280;
}

/* Media Queries */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column; /* Cambia a columna en pantallas más pequeñas */
    }

    .main-content, .output-section {
        width: 100%; /* Ambas secciones toman todo el ancho */
    }
}

@media (max-width: 480px) {
    textarea {
        height: 200px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
